<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
    <script src="assets/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js"></script>
    <script src="assets/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts_ubuntu/Ubuntu-Regular.ttf">
    <link rel="icon" href="static/sgwebicon.jpg">
    <title>SG Mobile</title>
    <style>
        .page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
        }

        .page_404  img{ width:100%;}

        .four_zero_four_bg{
        
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
            height: 400px;
            background-position: center;
        }
        
        
        .four_zero_four_bg h1{
        font-size:80px;
        }
        
        .four_zero_four_bg h3{
                font-size:80px;
                }
                
        .link_404{			 
            color: #fff!important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;        
            border-radius: 9px;
            text-decoration: none;
        }
        .contant_box_404{ margin-top:-50px;}
    </style>
</head>
<body>
    {{>header}}
    <section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1 mx-auto text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible!</p>
		
		<a href="/" class="link_404">Back To Track</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
</body>
</html>